<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <type name="Magento\Elasticsearch\Model\Adapter\BatchDataMapper\ProductDataMapper">
        <plugin name="add_data_to_mappers_result" type="Dolphin\CustomSorting\Plugin\Model\Adapter\BatchDataMapper\ProductDataMapperPlugin"/>
    </type>

</config>