<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<type name="Magento\Catalog\Model\Config">
		<plugin name="catalog_config_plugin" type="Dolphin\CustomSorting\Plugin\Config"/>
	</type>

	<preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Dolphin\CustomSorting\Observer\Block\Product\ProductList\Toolbar" />

	<type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="catalogToolbar" type="Dolphin\CustomSorting\Plugin\Catalog\Product\ProductList\Toolbar"/>
    </type>

</config>